@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');    
html{
    overflow-x: hidden;
}
body{
    background-color: #000;
    color: #fff;
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}
.bars{
    display: none;
}
/* 헤더서식 */
header{
    width: 100%;
    height: 80px;
    background:none;
    z-index: 10000000;
    position: fixed;
    display: block;
    transition: 0.5s;
}
h1{
    top: 24px;
    left: 2%;
    position: absolute;
    width: 270px;
}
h1 img{
    width: 100%;
    height: 100%;
}
/* 내비게이션 서식 */
.gnb{
    width: 700px;
    margin: 0 auto;
}
.gnb > ul{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    color: #fedb62;
}
.gnb > ul > li > a{
    line-height: 80px;
    margin-left: 35px;
    font-weight: bold;
    /* color: #ff0; */
    font-size: 24px;
    text-transform: lowercase;
    width: 100%;
    display: block;
    white-space: nowrap;
}
.gnb > ul li:hover a{
    color: #fff;
}

.mySwiper{
    height: 100vh;
    overflow: hidden;
}
.swiper-slide{
    position: relative;
    height: 100vh;
}
.swiper-pagination{
    display: flex;
    bottom: 3% !important;
    right: 5% !important;
}
.swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
    margin-left: 6px !important;
    border: 2px solid #fff !important;
    opacity: 1 !important;
    background-color: transparent !important;
}
.swiper-pagination-bullets{
    top: auto !important;
}
.swiper-pagination-bullet:hover{
    background-color: #fedb62 !important;
    border: 2px solid #fedb62 !important;
}
.swiper-pagination-bullet-active{
    background-color: #fedb62 !important;
    border: 2px solid #fedb62 !important;
}
.swiper-bg{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}
.swiper-bg01{
    background-image: url(../img/banner07.jpeg);
}
.swiper-bg02{
    background-image: url(../img/banner02.jpeg);
}
.swiper-bg03{
    background-image: url(../img/banner03.jpeg);
}
.swiper-bg04{
    background-image: url(../img/banner04.jpeg);
}
.swiper-bg05{
    background-image: url(../img/banner05.jpeg);
}
.swiper-bg06{
    background-image: url(../img/banner06.jpeg);
}
.swiper-bg07{
    background-image: url(../img/banner01.jpeg);
}
.swiper-bg08{
    background-image: url(../img/banner08.jpeg);
}
.swiper-slide img{
    width: 100%;
    filter: brightness(70%);
}
.textbox{
    text-align: right;
    position: absolute;
    bottom: 20%;
    right: 5%;
    color : #fff;
    line-height: 80px;
}
.textbox h3{
    letter-spacing: -3px;
    font-size: 135px;
    line-height: 100px;
}
.textbox01 span{
    overflow: hidden;
}
.textbox02 span{
    overflow: hidden;
}
.textbox01 span b{
    display: block;
    animation-name: txtani;
    animation-duration: 1s;
}
.textbox02 span b{
    opacity: 0;
    display: block;
    animation-name: txtani02;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
.listen_now{
    animation-name: txtani;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}
.listen_now > .btn_box{
    margin-top: 0px;
}
@keyframes txtani{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes txtani02{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.listen_now{
    position: absolute;
    right: 0;
    opacity: 0;
}
.b_text{
    position: absolute;
    bottom: 10%;
    right: 5%;
    text-align: right;
    line-height: 130px;
    background-attachment: fixed; 
}
.b_text h2:first-child{
    text-indent: 70px;
}
.b_text .btn_box{
    position: absolute;
    transform: none;
    left: auto;
    right: 11%;
    margin-top: 0;
}
.b_text .btn_box .va{
    width: 200px;
}


h2{
    font-size: 160px;
    text-align: center;
    letter-spacing: -3px;
}
.arti{
    position: relative;
    margin-top: 50px;
    z-index: 100;
}
.arti > h2{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    position: absolute;
}
.arti_box{
    padding-top: 120px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.ar{
    width: 25%;
    height: 500px;
    overflow: hidden;
    position: relative;
    transition: top 0.3s;
}
.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/ar01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
}
.ar1.motion{
    position: relative;
    animation-name: Ani;
    animation-duration: 1s;
}
.ar2.motion{
    position: relative;
    animation-name: Ani02;
    animation-duration: 1s;
}
.ar3.motion{
    position: relative;
    animation-name: Ani03;
    animation-duration: 1s;
}
.ar4.motion{
    position: relative;
    animation-name: Ani04;
    animation-duration: 1s;
}
@keyframes Ani{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
  }
  @keyframes Ani02{
    0%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0);
    }
  }
  @keyframes Ani03{
    0%{
        transform: translateY(110px);
    }
    100%{
        transform: translateY(0);
    }
  }
  @keyframes Ani04{
    0%{
        transform: translateY(140px);
    }
    100%{
        transform: translateY(0);
    }
  }
.bg02{
    background-image: url(../img/ar02.jpg);
}
.bg03{
    background-image: url(../img/ar03.jpg);
}
.bg04{
    background-image: url(../img/ar04.jpg);
}
.bg05{
    background-image: url(../img/ar05.jpg);
}
.bg06{
    background-image: url(../img/ar06.jpg);
}
.bg07{
    background-image: url(../img/ar07.jpg);
}
.bg08{
    background-image: url(../img/ar08.jpg);
}
.bg09{
    background-image: url(../img/ar09.jpg);
}
.bg10{
    background-image: url(../img/ar10.jpg);
}
.bg11{
    background-image: url(../img/ar11.jpg);
}
.bg12{
    background-image: url(../img/ar12.jpg);
}
.bg13{
    background-image: url(../img/ar13.jpg);
}
.bg14{
    background-image: url(../img/ar14.jpg);
}
.bg15{
    background-image: url(../img/ar15.jpg);
}
.bg16{
    background-image: url(../img/ar16.jpg);
}
.bg17{
    background-image: url(../img/ar17.jpg);
}
.bg18{
    background-image: url(../img/ar18.jpg);
}
.bg19{
    background-image: url(../img/ar19.jpg);
}
.bg20{
    background-image: url(../img/ar20.jpg);
}
.bg21{
    background-image: url(../img/ar21.jpg);
}
.bg22{
    background-image: url(../img/ar22.jpg);
}
.bg23{
    background-image: url(../img/ar23.jpg);
}
.bg24{
    background-image: url(../img/ar24.jpg);
}
.ar:hover .ar_info{
    opacity: 1;
}
.ar:hover .ar_sns{
    opacity: 1;
}
.ar p{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
}
.ar_info{
    background-image: url(../img/overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; /* 처음에는 투명하게 설정합니다. */
    transition: opacity 0.3s ease; /* 애니메이션 효과 추가 */
}
.ar_info a{
    color: #fedb62;
    left: 5%;
    top: 5%;
    position: absolute;
    font-weight: bold;
    transition: 0.5s;
}
.ar_info a:hover{
    color: #fff;
}
.ar_sns{
    opacity: 0;
    position: absolute;
    right: 5%;
    top: 5%;
    display: flex;
    justify-content: space-around;
    transition: opacity 0.3s ease;
}
.ar_sns li{
    margin-left: 10px;
}
.ar_sns li a{
    font-size: 18px;
}
i.fab:hover{
    color: #fff;
}


.btn_box{
    margin-top: 30px;
    width: 140px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* .btn_box:hover .va1{
    top: 5px;
    left: 5px;
} */
.va{
    width: 140px;
    height: 40px;
    background-color: #000;
    border: 1px solid #fedb62;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    position: absolute;
}
.va1{
    z-index: 1;
}
.va2{
    top: 5px;
    left: 5px;
}
.va a{
    color: #fedb62;
}


.videos, .shop{
    margin-top: 200px;
    width: 100%;
    position: relative;
    padding-top: 90px;
}
.videos > h2, .shop > h2{
    z-index: 1;
    left: 3%;
    top: 0;
    position: absolute;
}
.next{
    position: absolute;
    right: 5%;
    top: 0; 
    width: 200px;
    z-index: 20;
}
.next i.fas{
    font-size: 48px;
    color: #fedb62;
    position: absolute;
    cursor: pointer;
}
i.fa-arrow-left-long{
    right: 40%;
}
i.fa-arrow-right-long{
    right: 0;
}
.vi_total{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sm_vi:first-child{
    width: 100%;
    height: 1100px;
}
.sm_vi{
    width: 33.3%;
    height: 370px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.sm_vi > .sm_img{
    background-repeat: no-repeat !important;
    background-size: cover; /* 배경 이미지가 요소를 가득 채우도록 조정 */
    background-position: center !important;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: brightness(60%);
}

.sm1{
    background: url(../img/video01.jpeg);
}
.sm2{
    background: url(../img/video02.jpeg);
}
.sm3{
    background: url(../img/video03.jpeg);
}
.sm4{
    background: url(../img/video04.jpeg);
}
.sm_vi p{
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    bottom: 10%;
    left: 5%;
}
.vi_total:hover{
    cursor: url(../img/cursor.svg), auto;
}
.play_btn{
    display: none;
}
.videos .btn_box, .shop_all{
    left: 75%;
}

.shop_con{
    width: 100%;
    height: 960px;
}
.shop_left{
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}
.shop_text{
    position: absolute;
    bottom: 5%;
    left: 7%;
    line-height: 1.5;
}
.shop_left .shop_text h3{
    font-size: 32px;
}
.shop_left .shop_text h4{
    font-size: 26px;
}
.shop_left:hover .shopbg01{
    filter: brightness(70%);
}
.shop_left:hover .shop_btn{
    opacity: 1;
}
.shop_right ul li:hover .shopbg{
    filter: brightness(70%);
}
.shop_right ul li:hover .shop_btn{
    opacity: 1;
}
.shop_right .shop_text h3{
    font-size: 24px;
}
.shop_right .shop_text h4{
    font-size: 18px;
}
.shop_btn{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
}
.shop_btn > .btn_box{
    margin-top: 0;
}
.shopbg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}
.shopbg01{
    background-color: #0053A9;
    background-image: url(../img/shop01.png);
}
.shopbg02{
    background-color: #BE6B64;
    background-image: url(../img/shop02.png);
}
.shopbg03{
    background-color: #971328;
    background-image: url(../img/shop03.png);
}
.shopbg04{
    background-color: #C3C0BD;
    background-image: url(../img/shop04.png);
}
.shopbg05{
    background-color: #BF1211;
    background-image: url(../img/shop05.png);
}
.shop_right{
    width: 50%;
    height: 100%;
    float: right;
}
.shop_right ul{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.shop_right ul li{
    position: relative;
    width: 50%;
    height: 50%;
}
.shopall{
    left: 75%;
}
footer{
    position: relative;
    margin-top: 100px;
    width: 100%;
    background-color: #333;
    height: 100vh;
    text-align: center;
    line-height: 40px;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 220px 20%;
}
.footer_top{
    position: absolute;
    width: 750px;
    line-height: 50px;
}
.footer_form{
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.form_left, .form_right{
    width: 50%;
}
input[type="email"], select{
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fedb62;
    padding-bottom: 16px;
    color: #fff;
}
input::placeholder{
    color: #fff !important;
    opacity: 1;
    font-size: 16px;
}
select{
    color: #fff;
    font-size: 16px;
    appearance: none; /* 기본 화살표 제거 */
    -webkit-appearance: none; /* 사파리 기본 화살표 제거 */
    -moz-appearance: none; /* 파이어폭스 기본 화살표 제거 */
}
.form_right::after {
    display: block;
    content: '▼'; /* 화살표 표시 */
    position: absolute;
    top: 18%;
    right: 25px;
    font-size: 22px;
    color: #fedb62; /* 화살표 색상 */
  }
.footer_top h2{
    font-size: 50px;
    text-align: left;
    margin-bottom: 20px;
}
.form_left p:first-child, .form_right p:first-child{
    color: #fedb62;
    font-weight: bold;
}
.form_three{
    font-size: 16px;
    color: #fedb62;
}
.form_three input[type="checkbox"]{
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #000;
    outline: #fedb62;
    border: 2px solid #fedb62;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
}
.form_three input[type="checkbox"]:checked::after{
    content: "";
    position: absolute;
    top: -1px;
    left: 3px;
    width: 4px;
    height: 10px;
    border: solid #fedb62;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
.form_four{
    color: #fff;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
}
.form_four span{
    color: #fedb62;
}
.marquee_con{
    position: absolute;
    bottom: 0;
    padding: 30px 0;
    left: 40px;
}
.marquee{
    animation: animate-marquee 20s infinite linear;
}
@keyframes animate-marquee{
    0% {
        transform: 0;
    }
    100% {
        transform: translateX(calc(-50% - 40px));
    }
}
.marquee > div{
    display: flex;
}
.marquee > div a:hover{
    filter: brightness(300%) !important;
}
.marquee > div a:nth-child(23){
    filter: grayscale(100);
    opacity: 1 !important;
}
.marquee > div a{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70px;
    min-width: 70px;
    height: 80px;
    margin: 0 40px;
    filter: brightness(0) invert(100);
}
.marquee > div a:first-child{
    margin-left: 0;
}
.mar_img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.marquee > div a:hover{
}
.mar_img01{
    background-image: url(../img/mar01.png);
}
.mar_img02{
    background-image: url(../img/mar02.png);
}
.mar_img03{
    background-image: url(../img/mar03.png);
}
.mar_img04{
    background-image: url(../img/mar04.png);
}
.mar_img05{
    background-image: url(../img/mar05.png);
}
.mar_img06{
    background-image: url(../img/mar06.png);
}
.mar_img07{
    background-image: url(../img/mar07.png);
}
.mar_img08{
    background-image: url(../img/mar08.png);
}
.mar_img09{
    background-image: url(../img/mar09.png);
}
.mar_img10{
    background-image: url(../img/mar10.png);
}
.mar_img11{
    background-image: url(../img/mar11.png);
}
.mar_img12{
    background-image: url(../img/mar12.png);
}
.mar_img13{
    background-image: url(../img/mar13.png);
}
.mar_img14{
    background-image: url(../img/mar14.png);
}
.mar_img15{
    background-image: url(../img/mar15.png);
}
.mar_img16{
    background-image: url(../img/mar16.png);
}
.mar_img17{
    background-image: url(../img/mar17.png);
}
.mar_img18{
    background-image: url(../img/mar18.png);
}
.mar_img19{
    background-image: url(../img/mar19.png);
}
.mar_img20{
    background-image: url(../img/mar20.png);
}
.mar_img21{
    background-image: url(../img/mar21.png);
}
.mar_img22{
    background-image: url(../img/mar22.png);
}
.mar_img23{
    background-image: url(../img/mar23.png);
    filter: grayscale(100) !important;
    opacity: 1 !important;
}
.mar_img24{
    background-image: url(../img/mar24.png);
}
.mar_img25{
    background-image: url(../img/mar25.png);
}
.footer_right{
    position: absolute;
    right: 20%;
    top: 25%;
    width: 250px;
}
.right01{
    margin-bottom: 100px;
}
.right01 li a:hover{
    color: #fff;
}
.footer_right .shopbtn > .btn_box{
    left: 0;
    transform: none;
    margin-top: 20px;
}
.shopbtn > .btn_box > .va{
    background-color: #fedb62;
    color: #000;
    border: 2px solid #000;
}
.footer_right ul{
    text-align: left;
    line-height: 30px;
}
.right02{
    padding-top: 20px;
    border-top: 1px solid #fff;
    font-size: 12px;
}
.right02 li a{
    color: #fff;
}
.right02 li a:hover{
    color: #fedb62;
}
.footer_sns{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 30px;
}
.footer_sns li i{
    color: #fff !important;
}
@media screen and (max-width: 1730px) {
    .ar{
        height: 400px;
    }
    footer{
        padding: 200px 15%;
    }
    .footer_right{
        right: 15%;
    }
    .sm_vi:first-child{
        height: 900px;
    }
    .sm_vi{
        height: 300px;
    }
}
@media screen and (max-width: 1520px) {
    .ar{
        height: 350px;
    }
    footer{
        padding: 200px 10%;
    }
    .footer_right{
        right: 10%;
    }
    .shop_con{
        height: 600px;
    }
    .sm_vi:first-child{
        height: 800px;
    }
    .sm_vi{
        height: 280px;
    }
}
@media screen and (max-width: 1350px) {
    .sm_vi:first-child{
        height: 720px;
    }
    .sm_vi{
        height: 250px;
    }
}
@media screen and (max-width: 1220px) {
    .vi_total:hover{
        cursor:auto
    }
    .big_vi {
        height: 700px;
    }
    .play_btn{
        display: block;
        width: 86px;
        height: 86px;
        background-image: url('../img/cursor.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    footer{
        padding: 200px 5%;
    }
    .footer_right{
        right: 5%;
    }

    .gnb > ul{
        justify-content: center;
    }
    .gnb > ul li a{
        font-size: 16px;
    }
    .ar{
        width: 33.33%;
        height: 400px;
    }
    .shop_con{
        height: 1100px;
        margin-bottom: 1140px;
    }
    .shop_left{
        width: 100%;
    }
    .shop_right{
        width: 100%;
    }
    footer{
        margin-top: 1300px;
    }
    .sm_vi:first-child{
        height: 620px;
    }
    .sm_vi{
        height: 200px;
    }
}
@media screen and (max-width: 1024px){
    h1{
        left: 4%;
    }
    .gnb{
        position: absolute;
        top: 60px;
        width: 100%;
    }
    .bars{
        display: block;
        position: relative;
        height: 30px;
        width: 30px;
        float: right;
        right: 4%;
        top: 26px;
        cursor: pointer;
    }
    .bars span{
        display: block;
    }
    .bars span::after{
         content: "";
         width: 100%;
         display: block;
         height: 3px;
         background-color: #fff;
         position: absolute;
         top: 0;
         left: 0;
    }
    .bars span:nth-child(2)::after{
        top: 10px;
    }
    .bars span:last-child::after{
        top: 20px;
    }
    .gnb{
        display: none;
    }
    .bars_hide{
        display: none !important;
    }
    .bars_rotate01{
        transform: rotate(45deg) translate(10px,-1px);   
    }
    .bars_rotate02{
        transform: rotate(-45deg) translateY(-12px);
    }
    .gnb_open{
        display: block;
    }
    .header_bg{
        background-color: #000 !important;
    }
    .ar{
        width: 50%;
        height: 450px;
    }
    .sm_total{
        flex-direction: column;
    }
    .sm_vi{
        width: 100%;
        height: 550px !important;
    }
    .sm_img{
        background-position: none !important;
    }
    footer{
        margin-top: 900px;
        height: 180vh;
        padding: 200px 10%;
        position: relative;
        width: 100%;
    }
    .marquee_con{
        bottom: 40%;
    }
    .footer_top{
        width: 100%;
        position: relative;
    }
    .footer_top h2{
        text-align: center;
        font-size: 35px;
    }
    .form_three{
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .form_four{
        text-align: center;
    }
    .form_four br{
        display: none;
    }
    .footer_right{
        top: auto;
        bottom: 5%;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer_right ul{
        text-align: center;
    }
    .footer_right .shopbtn > .btn_box {
        left: 50%;
        transform: translateX(-50%);
    }
    .shop_con{
        height: 800px;
        margin-bottom: 840px;
    }
}
@media screen and (max-width: 940px){
    .sm_vi{
        height: 520px !important;
    }
}
@media screen and (max-width: 900px){
    .sm_vi{
        height: 500px !important;
    }
}
@media screen and (max-width: 870px){
    .sm_vi{
        height: 480px !important;
    }
}
@media screen and (max-width: 850px){
    .sm_vi{
        height: 460px !important;
    }
}
@media screen and (max-width: 800px){
    .swiper-bg{
    background-position: center;
    background-position: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}
.swiper-bg08{
    background-position: left !important;
}
    .ar{
        height: 350px;
    }
    .shop_con{
        height: 650px;
        margin-bottom: 690px;
    }
    .shop_all{
        z-index: 30;
    }
    footer{
        margin-top: 650px;
    }
    .sm_vi{
        height: 420px !important;
    }
    .sm_vi p {
        font-size: 20px !important;
    }
}   
@media screen and (max-width: 720px){
    .sm_vi{
        height: 400px !important;
    }
    .ar{
        height: 300px;
    }
}
@media screen and (max-width: 680px){
    .sm_vi{
        height: 380px !important;
    }
}
@media screen and (max-width: 540px){
    .swiper-slide {
        overflow-y: hidden; /* 세로 스크롤 비활성화 */
        -webkit-overflow-scrolling: auto; /* iOS에서 스크롤 동작을 최적화 */
    }
    h1{
        width: 200px;
        top: 28px;
    }
    h2{
        font-size: 60px;
    }
    .textbox{
        line-height: 35px;
    }
    .textbox h3{
        font-size: 54px;
        line-height: 55px;
    }
    .textbox02 span b{
        font-size: 14px;
    }
    .textbox p{
        font-size: 14px;
        line-height: 30px;
    }
    .arti_box{
        padding-top: 45px;
    }
    .ar{
        height: 200px;
    }
    .ar p {
        font-size: 24px;
        letter-spacing: 0;
    }
    .ar_info a{
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
    }
    .ar_sns{
        position: absolute;
        top: 40%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        right: auto;
    }
    .gnb{
        height: 100vh;
    }
    .gnb ul{
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }
    .gnb ul li a{
        margin-left: 0;
    }
    .shop_con{
        height: 2100px;
        margin: 0 !important;
    }
    .shop_left{
        height: 20%;
    }
    .shop_left .shop_text h3 {
        font-size: 18px;
    }
    .shop_left .shop_text h4 {
        font-size: 16px;
    }
    .shop_right{
        height: 80%;
    }
    .shop_right .shop_text h3 {
        font-size: 18px;
    }
    .shop_right .shop_text h4 {
        font-size: 16px;
    }
    .shop_right ul li {
        width: 100%;
        height: 25%;
    }
    .shopall {
        position: relative;
        z-index: 100;
        margin-top: -50px;
    }
    .marquee_con{
        bottom: 42%;
    }
    footer{
        margin-top: 0px;
        padding: 130px 5%;
        height: 200vh;
    }
    .form_left, .form_right{
        width: 100%;
    }
    .footer_right{
        bottom: 12%;
    }
    .form_right::after {
        top: 10%;
    }
        .sm_vi{
            height: 240px !important;
        }
}
@media screen and (max-width: 376px){
    footer{
        height: 230vh;
    }
    .shop_con{
        height: 1600px;
    }
    .marquee_con{
        bottom: 38%;
    }
    .footer_right{
        bottom: 8%;
    }
    .sm_vi{
        height: 200px !important;
    }
}